{% extends 'index.html' %}

{% block title %}Not found.{% endblock title %}

{% block content %}
<main>
  <h1>404 Not Found</h1>
  <p>
  This page could not be found. Alas.
  </p>
  <a href="/">← Go somewhere safe.</a>
</main>
{% endblock content %}
