/* From normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

/* general */
:root {
    --text-color: #333;
    --blue-color: #0864c7;
    --purple-color: #b300b3;
    --red-color: #ff0000;
    --light-grey-color: #fafafa;
    --dark-grey-color: #999;
}

html,
body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.3;
}

p {
    color: var(--text-color);
    line-height: 24px;
}

ul,
ol {
    color: var(--text-color);
    line-height: 22px;
}

a {
    color: var(--blue-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--purple-color);
}

a:active {
    color: var(--red-color);
}

hr {
    border-color: #fff;
    margin: 3em auto;
    width: 200px;
}

blockquote {
    border-left: 4px solid var(--light-grey-color);
    padding-left: 16px;
    margin-left: 0;
}

blockquote p {
    color: var(--dark-grey-color);
}

pre {
    font-size: 14px;
    padding: 8px;
    border-radius: 2px;
    overflow-y: scroll;
    background: var(--light-grey-color);
}

code {
    font-size: 14px;
    background: var(--light-grey-color);
    padding: 2px 3px;
}

kbd {
    border-bottom: 2px solid var(--dark-grey-color);
    background: var(--light-grey-color);
    border-radius: 4px;
    padding: 3px 6px;
}

h1 {
    font-weight: 700;
    margin: 32px auto;
}

h2 {
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 24px;
}

h3 {
    margin-bottom: 8px;
    font-size: 15px;
}

.brand a {
    display: block;
    font-size: 40px;
    margin-bottom: 8px;
    color: #000;
    font-weight: 400;
}
@media (max-width: 650px) {
    .brand a {
        font-size: 32px;
        margin-top: 8px;
        margin-bottom: 24px;
    }
}

.subtitle {
    margin-bottom: 32px;
    color: var(--dark-grey-color);
}

main {
    width: 540px;
    box-sizing: border-box;
    margin: 64px auto;
}
@media (max-width: 650px) {
    main {
        width: 100%;
        padding-top: 16px;
        padding-left: 8px;
        padding-right: 8px;
    }
}

.byline {
    margin-top: 4px;
    margin-bottom: 4em;
}

.episodes-single {
}

.episodes-single-title {
    font-size: 2em;
    padding-bottom: 20px;
}

.episodes time {
    font-size: 12px;
    color: var(--dark-grey-color);
    white-space: nowrap;
}

/* footer */
footer {
    width: 540px;
    box-sizing: border-box;
    color: var(--dark-grey-color);
    margin: 64px auto;
}
@media (max-width: 650px) {
    footer {
        width: 100%;
        padding-left: 8px;
        padding-right: 8px;
    }
}
audio {
    width: 100%;
}
